*{
    border: 0;
    margin: 0;
}
.posts{
    width: 100%;
}

.leftSide{
    height: auto;
    width: 10%;
}

.leftSide input{
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 2%;
    border: 1px solid #FFF736;
    border-radius: 15px;
    width: 96%;
    padding: 2% 0%;
    text-align: center;
    color: #FFF736;
}

.rightSide{
    height: auto;
    width: 10%;
}

.formNewPost{
    width: 30%;
    display: flex;
    width: 70%;
    border: 1px solid #FFF736;
    border-radius: 14px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    margin-left: 17%;
    padding: 3%;
}

.formNewPost input{
    margin-left: 12%;
    margin-bottom: 2%;
    background: transparent;
    color: white;
}

.formNewPost button{
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 15px;
    width: 77%;
    padding: 2% 0%;
    text-align: center;
    transition: 0.2s;
    border: 1px solid #FFF736;
    background-color: #FFF736;
    color: black;
    margin-left: 12%;
}

button:hover{
    background-color: #080F2F;
    color: #FFF736;
}
textarea{
    width: 30%;
    display: flex;
    width: 70%;
    border: 1px solid #FFF736;
    border-radius: 14px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    text-align: center;
    padding: 3%;
    color: white;
    font: 400 88% Roboto, sans-serif;
}

textarea:focus,select:focus{
    outline: 0;
}

.inputTitle input{
    width: 76%;
}